@use "../sass/host";

.todo {
  display: flex;
  font-family: "Courier New", Courier, monospace;
  margin-block-end: 1.5rem;

  &--input {
    font-size: 2.5rem;
    min-width: 9rem;
    max-width: 100%;
    outline: none;
    padding-block-end: 0.5rem;
    border-block-end: 3px solid rgba(var(--color-bistre-rgb), 0.5);
  }

  &--delete {
    margin-inline-start: 1rem;
  }
}
