@use "../shared/sass/host";

:host {
  display: block;
}

.todo-header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  color: var(--color-copper);
  font-family: "Courier New", Courier, monospace;
  box-sizing: border-box;
  margin-block-end: 2rem;

  &--heading {
    display: flex;
    align-items: center;
    background-color: var(--color-bistre);
    font-weight: 600;
    padding: 0.75rem 1rem;
    margin: 0;
    font-size: 3.5rem;
    text-transform: uppercase;
  }
}
