@use 'shared/sass/host';

:host {
  display: block;
  height: 100vh;
  width: 100vw;
}

.wrapper {
  display: flex;
  flex-direction: column;
  background-color: var(--color-peach);
  height: 100vh;
  width: 100vw;
  padding: 1rem;
  box-sizing: border-box;

  @media only screen and (min-width: 568px) {
    padding: 2rem;
  }

  todo-header,
  todo-footer {
    flex: 0 1 auto;
  }

  todo-body {
    flex: 1 1 auto;
  }
}
